In [1]:
import h5py

filename = 'all_hourly_data.h5'

h5 = h5py.File(filename,'r')

In [4]:
import pandas as pd
import numpy as np

In [5]:
print(h5.keys())

<KeysViewHDF5 ['codes', 'interventions', 'patients', 'vitals_labs', 'vitals_labs_mean']>

In [11]:
df_codes = pd.read_hdf(filename,'codes')
df_intervention = pd.read_hdf(filename,'interventions')
df_pats = pd.read_hdf(filename,'patients')
df_vitals = pd.read_hdf(filename,'vitals_labs')
df_vital_means = pd.read_hdf(filename,'vitals_labs_mean')

In [16]:
df_codes

                                                                               icd9_codes
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         [0389, 78559, 5849, 4275, 41071, 4280, 6826, 4...
                              1         [0389, 78559, 5849, 4275, 41071, 4280, 6826, 4...
                              2         [0389, 78559, 5849, 4275, 41071, 4280, 6826, 4...
                              3         [0389, 78559, 5849, 4275, 41071, 4280, 6826, 4...
                              4         [0389, 78559, 5849, 4275, 41071, 4280, 6826, 4...
...                                                                                   ...
99999      113369  246512     22                         [75612, 7861, 4019, 25000, 4139]
                              23                         [75612, 7861, 4019, 25000, 4139]
                              24                         [75612, 7861, 4019, 25000, 4139]
                              25                         [75612, 7861, 4019, 25000, 4139]
                              26                         [75612, 7861, 4019, 25000, 4139]

[2200954 rows x 1 columns]